<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 bg-light d-flex flex-column align-items-center justify-content-center">
            <div class="list-group">
                <a routerLink="/dashboard" class="list-group-item" routerLinkActive="active">Dashboard</a>
                <a routerLink="/gestion-bus" class="list-group-item" routerLinkActive="active">Liste Buses</a>
                <a routerLink="/gestion-bus/create" class="list-group-item" routerLinkActive="active">Ajouter Bus</a>
            </div>
        </div>
        <div class="col-md-9">
            <div class="container">
                <h1>Liste des Bus</h1>
                <table class="table table-bordered table-hover">
                    <thead class="table-dark">
                    <tr>
                        <th scope="col">Numéro de Bus</th>
                        <th scope="col">Date de voyage</th>
                        <th scope="col">Heure de départ</th>
                        <th scope="col">Point de départ</th>
                        <th scope="col">Point d'arrivée</th>
                        <th scope="col">Nombre de places</th>
                        <th scope="col">Prix</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let bus of buses">
                        <td>{{ bus.busNumber }}</td>
                        <td>{{ bus.travelDate | date }}</td>
                        <td>{{ bus.departureTime.join(':') }}</td>
                        <td>{{ bus.departurePoint }}</td>
                        <td>{{ bus.arrivalPoint }}</td>
                        <td>{{ bus.numberOfSeats }}</td>
                        <td>{{ bus.price }}</td>
                        <td>
                            <button class="btn btn-sm btn-primary" (click)="editBus(bus)">Modifier</button>
                            <button class="btn btn-sm btn-danger" (click)="deleteBus(bus)">Supprimer</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
